# Dependencies
node_modules/
**/node_modules

# Vite cache
.vite/
**/.vite/

# Build artifacts
dist/
build/
/out/
/.output/
/.next/

# Coverage
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
.idea/
.vscode/

# Uploads (project specific)
uploads/
**/uploads/

# Env
.env
.env.*
